body {
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

.page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 0px;
          flex: 0 1 0;
}

.header {
  height: 90px;
  background-color: #000000;
  color: #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-left: 30px;
  font-size: 24px;
  opacity: .5;
}

.header__nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.burger {
  height: 90px;
  width: 90px;
  background: #1A1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  margin-right: 40px;
  opacity: .5;
  color: #ffffff;
  text-decoration: none;
}

.nav__link:hover {
  opacity: 1;
}

.nav__link--active {
  font-weight: 600;
  opacity: 1;
}

.search {
  position: relative;
  font-size: 14px;
}

.search__input {
  height: 90px;
  width: 220px;
  border: none;
  background-color: #262626;
  color: #ffffff;
  padding: 0 40px 0 50px;
}

.search__input::-webkit-input-placeholder {
  margin-left: 20px;
}

.search__input:-ms-input-placeholder {
  margin-left: 20px;
}

.search__input::-ms-input-placeholder {
  margin-left: 20px;
}

.search__input::placeholder {
  margin-left: 20px;
}

.search__icon {
  position: absolute;
  top: calc(50% - 7px);
  margin-left: 30px;
}

.join {
  height: 90px;
  min-width: 320px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #B78C6C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join__link {
  color: #ffffff;
  text-decoration: none;
  margin-left: 25px;
}

.join__link:hover, .join__link:focus {
  opacity: .5;
}

.join__link:active {
  opacity: 1;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #666666;
  border: 20px solid #F2F2F2;
}

.about__title {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 600;
  margin-top: 4rem;
  margin-bottom: 3rem;
  margin-left: 70px;
}

.about__text {
  color: #999999;
  font-weight: 400;
  margin-left: 70px;
  margin-right: 110px;
}

.about__more {
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 70px;
  margin-left: 70px;
  color: #999999;
  text-transform: uppercase;
  text-decoration: none;
}

.gallery {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #ffffff;
  background-image: url(/images/cardio.png);
  background-size: cover;
  background-position: 50% 50%;
}

.gallery__caption {
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.gallery__caption::before {
  position: relative;
  display: block;
  content: '';
  background-color: #000000;
  opacity: .4;
  height: 110px;
}

.gallery__caption-text {
  position: relative;
  margin-top: -65px;
  z-index: 2;
}

.gallery__title {
  position: absolute;
  left: 70px;
  bottom: 46px;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.gallery__counter {
  position: absolute;
  right: 70px;
  bottom: 44px;
  font-size: 4rem;
  line-height: 4.1rem;
  font-weight: 100;
}

.gallery__counter span {
  color: #B78C6C;
}

.advantage {
  min-width: 320px;
  color: #ffffff;
}

.advantage__list {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantage__item {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage__item--pool {
  height: 90px;
  background-image: url(/images/pool.png);
  background-size: cover;
  background-position: 50% 50%;
}

.advantage__item--gym {
  height: 90px;
  background-color: #000000;
}

.advantage__item--proff {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-image: url(/images/proff.png);
  background-size: cover;
  background-position: 50% 50%;
}

.advantage__link {
  margin-left: 40px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 320px;
}

.social {
  width: 90px;
}

.social__list {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  background-color: #000000;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.halls {
  background-image: url(/images/rooms.png);
  background-size: cover;
  background-position: 50% 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  position: relative;
}

.halls__title {
  position: absolute;
  color: #ffffff;
  font-size: 30px;
  bottom: 30px;
  left: 40px;
}

.price {
  width: 360px;
  background-color: #000000;
}

.price__list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__cards {
  list-style: none;
  min-height: 80px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__cards--bronze {
  background-color: #5800FC;
}

.price__cards--silver {
  background-color: #5000E5;
}

.price__cards--gold {
  background-color: #4402BF;
}

.price__cards--diamond {
  background-color: #B78C6C;
}

.price__card-item:first-child {
  width: 100px;
}

.price__card-item:nth-child(2) {
  width: 85px;
}

.instagram {
  background-color: #000000;
}

.instagram__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.instagram__logo-svg {
  height: 100px;
}

.instagram__block {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.instagram__block-images {
  width: 110px;
  height: 110px;
}

.map {
  width: 320px;
  height: 100%;
  background-color: grey;
}
/*# sourceMappingURL=main.css.map */