body {
  max-height: 1hv;
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

.page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 0px;
          flex: 0 1 0;
}

.header {
  height: 90px;
  background-color: #000000;
  color: #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-left: 30px;
  font-size: 24px;
  opacity: .5;
}

.header__join {
  height: 90px;
  min-width: 320px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #B78C6C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.burger {
  height: 90px;
  width: 90px;
  background: #1A1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-right: 40px;
  opacity: .5;
}

.nav__item--active {
  font-weight: 600;
  color: #ffffff;
  opacity: 1;
}

.search {
  height: 90px;
  width: 220px;
  margin-left: 40px;
  color: #ffffff;
  opacity: .5;
  font-size: 14px;
  background-color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about {
  color: #666666;
  min-width: 520px;
  border: 20px solid #F2F2F2;
}

.about__title {
  font-size: 48px;
  line-height: 80px;
  font-weight: 600;
  margin-top: 70px;
  margin-left: 70px;
}

.about__text {
  color: #999999;
  font-weight: 400;
  margin-left: 70px;
  margin-right: 110px;
}

.about__more {
  font-weight: 400;
  margin-top: 20px;
  margin-left: 70px;
  color: #999999;
  text-transform: uppercase;
  text-decoration: none;
}

.gallery {
  width: 580px;
  background-image: url(/images/cardio.png);
  background-size: cover;
  background-position: 50% 50%;
}

.advantage {
  min-width: 320px;
  color: #ffffff;
}

.advantage__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantage__item {
  margin: 0;
}

.advantage__item--pool {
  height: 90px;
  background-image: url(/images/pool.png);
  background-size: cover;
  background-position: 50% 50%;
}

.advantage__item--gym {
  height: 90px;
  background-color: #000000;
}

.advantage__item--proff {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-image: url(/images/proff.png);
  background-size: cover;
  background-position: 50% 50%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 320px;
}
/*# sourceMappingURL=main.css.map */