.about
  color: $text-title
  min-width: 520px
  border: 20px solid $br-grey
  &__title
    font-size: 48px
    line-height: 80px
    font-weight: 600
    margin-top: 70px
    margin-left: 70px
  &__text
    color: $text-about
    font-weight: 400
    margin-left: 70px
    margin-right: 110px
  &__more
    font-weight: 400
    margin-top: 20px
    margin-left: 70px
    color: $text-about
    text-transform: uppercase
    text-decoration: none