.advantage
  position: relative
  min-width: 320px
  color: $white
  &__list 
    height: 100%
    list-style: none
    margin: 0
    padding: 0
    display: flex
    flex-direction: column
  &__item
    margin: 0
    display: flex
    align-items: center
    &--pool
      height: 90px
      background-image: url(/images/pool.png)
      background-size: cover
      background-position: 50% 50%
    &--gym
      height: 90px
      background-color: $black
    &--proff
      flex: 1 1 auto
      background-image: url(/images/proff.png)
      background-size: cover
      background-position: 50% 50%
      display: flex
      justify-content: center
      align-items: flex-end
  &__arrow
    position: absolute
    font-size: 30px
    right: 40px
  &__link
    margin-left: 40px
    font-weight: 400
    color: $white
    text-decoration: none
    &--proff
      margin: 0
      margin-bottom: 60px
      padding: 15px 29px
      background: $btn-blue

