.advantage
  min-width: 320px
  color: $white
  &__list 
    height: 100%
    list-style: none
    margin: 0
    padding: 0
    display: flex
    flex-direction: column
  &__item
    margin: 0
    display: flex
    align-items: center
    &--pool
      height: 90px
      background-image: url(/images/pool.png)
      background-size: cover
      background-position: 50% 50%
    &--gym
      height: 90px
      background-color: $black
    &--proff
      flex: 1 1 auto
      background-image: url(/images/proff.png)
      background-size: cover
      background-position: 50% 50%
  &__link
    margin-left: 40px
    font-weight: 400
    color: $white
    text-decoration: none

