.gallery
  position: relative
  flex: 1;
  color: $white
  background-image: url(/images/cardio.png)
  background-size: cover
  background-position: 50% 50%
  &__title
    position: absolute
    left: 70px
    bottom: 46px
    font-size: 1.6rem
    line-height: 1.8rem
  &__counter
    //font: @oswaldSemiLight
    position: absolute
    right: 70px
    bottom: 44px
    font-size: 4rem
    line-height: 4.1rem
    font-weight: 100
    & span
      color: $bg-gold