.search
  position: relative
  font-size: 14px
  &__input
    height: 90px
    width: 220px
    border: none
    background-color: $bg-search
    color: $white
    padding: 0 40px 0 50px
    &::placeholder
      margin-left: 20px
  &__icon
    position: absolute
    top: calc(50% - 7px)
    margin-left: 30px